<div class="flex justify-around h-14 py-1 bg-zinc-300 items-center shadow-sm mb-4">
  <span class="text-2xl text-center">CNAB Parser</span>
  <%= button_to "Logout", destroy_user_session_path, data: { turbo: false }, method: :delete %>
</div>
